{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock title %} Home| Utkarsh fitness</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<!--linkcss-->
<link href={%../static/"css/base.css"%} rel="stylesheet">  
</head>
  <body>
    
    <!--adding nav bar-->
      <header>x
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light  mask-custom shadow-0">
      <div class="container">
        <a class="navbar-brand" href="#!"><span style="color: #5e9693;">Utkarsh Fitness</span><span
            style="color: #fff;">logist</span></a>
        <button class="navbar-toggler" type="button" data-mdb-collapse-init
          data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url "offer" %}">Offer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "products" %}">products</a>
            </li>
           
          
            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{% url "contact" %}">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "team" %}">team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "signup" %}">signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "login" %}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/chaturvedyutkarsh/">id</a>
            </li>
          </ul>
          <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

  </header>
{% block content %}{% endblock content %}



  <!--Adding footer-->
  <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: black "
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #02151735"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">utkarsh fitness</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              Hey it is my fitness website in this we sell best fitness 
              product and amazing product quality.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Products</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="#!" class="text-white">Whey protien</a>
            </p>
            <p>
              <a href="#!" class="text-white">creatine monohydrate</a>
            </p>
            <p>
              <a href="#!" class="text-white">weight lifting belt</a>
            </p>
            <p>
              <a href="#!" class="text-white">shaker</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Useful links</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a href="about" class="text-white">About product</a>
            </p>
            <p>
              <a href="products" class="text-white">customer feedback</a>
            </p>
            <p>
              <a href="#!" class="text-white">your rating</a>
            </p>
            <p>
              <a href="#!" class="text-white">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> near bbd university,lucknow,uttarpradesh,226028</p>
            <p><i class="fas fa-envelope mr-3"></i> chaturvedyutkarsh@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 8948820218</p>
            <p><i class="fas fa-print mr-3"></i> +91 9120929698</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2020 Copyright:
      <a class="text-white" href="https://www.instagram.com/chaturvedyutkarsh/"
         >chaturvedyutkarsh@instagram</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>